body {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
	overflow-x: hidden;
	height:100%;
}
::-webkit-scrollbar { 
    display: none; 
}

nav{
	text-transform: uppercase;
	font-weight: bold;
}

.vid-container{
	height:100vh;
	width:100vw;
	overflow: hidden;
}

.vid-container video {
	position: relative;
	top: 50vh;
	left: 50vw;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

#logo {
	width: 500px;
	height:auto;
	position: fixed;
	left:0px;
	top:0px;
	z-index: 80;
	padding:0px;
	margin:25px;
	transition: .2s;
}
.learn-more{
	background: rgba(0,103,172,.5);
	color:white;
	border:none;
	outline:none;
	padding:0px;
	border-radius:5%;
}
.learn-more:hover, .learn-more:focus{
	background: rgba(0,103,172,.9);

}
.small-logo {
	width:300px !important;
	margin: 12px 25px !important;
}



/* Add background to logo after scroll 
*
* NOT IN USE 
*
.logo-bg {
	background: rgba(0,103,172,.5);
}
*/

#nav {
	display:inline;
	z-index: 50;
}
#mobile-nav, .mobile-nav-btns {
	display:none;
	z-index: 50;
}
/*Inlcudes transition, see .active*/
ul {
	position: fixed;
	right:0px;
	top:0px;
	padding:0px;
	transition: right .4s;
}

li {
	list-style-type: none;
    text-align: center;
	background: rgba(0,103,172,.5);
	color:white;
	padding:25px;
	margin:25px;
	max-width: 150px;
	height: 75px;
	transition: .4s;
}

.nav li, .nav div, .nav hr{
	position:relative;
	left:0px;
	transition: .4s;
}
.slid-right{
	position:relative;
	left:200px !important;
}


/*Temp fix - adjust height of twoline main button text*/
li.twoline{
	padding:19px 25px;
}

/*Size and position of nav menu*/
ul.navmenu {
	position:absolute;
	right:-300px;
	width: 300px;
	padding-top: 0px;
	margin-top:0px;
	min-height:100vh;
	height:auto;
	background: rgba(0,103,172,.5);
	overflow-y: scroll;
}


/*Nav menu item sizing*/
.navmenu li{
	padding:25px 65px;
	margin:0px;
	max-width: 300px;
	background:none;
	border-bottom: 1px solid rgba(0,103,172,.5);
	height:auto;
}

/*first item moves down*/
.navmenu li#itemone {
	margin-top: 25px;
}

/*link styling*/
a ul li, a:hover, a:focus {
	color:white;
	text-decoration: none;
	background: rgba(0,103,172,.9);
}

/* Style all font awesome icons */
.social {
	text-align: center;
	margin: auto;
}
.social .fa {
	color:white;
    padding: 10px;
    font-size: 14px;
    width: 34px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background:rgba(0,103,172,.5);
}

/* Add a hover effect */
.social .fa:hover {
    background:rgba(0,103,172,.9);
}

/*highlight hovered items in navmenu*/
li:hover, li:focus, .menu-on {
	background: rgba(0,103,172,.9);
}

.nav-submenu a, .nav-submenu li{
	color:rgba(255,255,255,.7);
	background: transparent;

}
.nav-submenu a:hover, .navmenu li a, .nav-submenu li:hover{
	color:rgba(255,255,255,1);
	background: transparent;
}
.navmenu li a:hover{
	color:#B9E0F7;
	background: transparent;

}

.nav-submenu li {
	text-transform: none;
	font-weight: normal;
	text-align: left;
	padding:10px 0px !important;

}

/*nav submenu items*/
.nav-submenu, .nav-submenu li{
	position:relative;
	display: block;
	border:none;
	background:rgba(255,255,255.5);
	padding:0px;
	margin:0px;
	width: auto;
	height: auto;
}

/*Initially hide submenu items until js hover*/
.nav-submenu{
	display:none;
}

hr{
	max-width: 150px;
	border-top:2px dashed rgba(255,255,255,.5);
	transition: .2s
}

/* Top navigation that slides down on scroll */
.topnav{
	display:inline-block;
	text-align: right;
	font-weight: normal;
	width:100%;
	position:fixed;
	padding:0px 0px;
	transition: .4s;
	top:0;
	z-index: 60;
	background:rgba(0,103,172,.95);
	transition: top .4s;
}

.hide-topnav{
	top:-100px;
	display:none;
	transition: .4s;
}

.topnav li {
	display:inline;
	background: none;
	padding:20px 25px;
	border:0px;
	outline:0px;
	margin:0px;
	line-height: 60px;
}

.topnav li:hover, topnav li:focus{
	color:#B9E0F7;
	background:#005892;
}
.topnav a:hover, .topnav a:focus{
	background:none;
}
.menubtn-top{
	margin-right:25px !important;
}
.menu-top-on {
	color:#B9E0F7 !important;
	background:#005892 !important;
}

/* END TOP NAV
*/

/*reveal nav menu*/
.active {
	right:300px;
	transition: .4s;
}

/* Hide post-video content until page loaded */
.hide-load {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
}

.cancel {
	color:white;
	font-size: 48px;
	font-weight: normal;
	line-height: 20px;
	position:relative;
	top:15px;
	right:-90vw;
	text-align: right;
	display:inline-block;
	margin:0px;
	background: none;
}

.mobile-nav-btns {
	position:absolute;
	top:60px;
	z-index: 25;
}

.item-expand {
	color: white;
	font-size: 40px;
	line-height: 15px;
	font-weight: normal;
	float:left;
}

#welcome{
	margin-top:50px;
}
.news{
	background:#eee;width:100%;padding:50px 15px;margin:50px auto 0px;
}
footer{
	background:rgba(0,103,172,.95);
	color:white;
}

/*.container-fluid {
margin:auto;
padding:50px 250px;
}
*/
@media screen and (max-width: 768px) {
	video {
	position: relative;
	top: 50vh;
	left: 50vw;
	min-width: 100vw;
	min-height: 100vh;
	width: auto;
	height: 100vh;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	}
	#logo{
		width: 60%;
		margin:15px;
	}
	#nav {
		display:none;
	}
	#mobile-nav,.mobile-nav-btns {
		display:inline;
	}
	ul.navmenu {
		position:absolute;
		right:-100vw;
		width: 100vw;
		background: rgba(0,103,172,1);

	}
	.navmenu li{
		font-size: 14px;
		padding:20px 35px;
		margin:0px;
		max-width: 100vw;
		height:auto; 
		background:none;
		border-bottom: 1px solid #005892;
	}
	li:hover, li:focus {
		background: #005892;
	}
	li {
		font-size: 10px;
		margin:15px;
		padding:15px;
		max-width: 90px;
		height: auto;
	}
	li.menubtn {
		width:90px;
	}
	hr{
		max-width:90px;
	}
	.social{
		max-width:100px;
	}
	.fa {
		padding: 8px;
		font-size: 12px;
		display:inline-block;
		margin:4px 4px;
		width: 28px;
		border-radius: 50%;
	}

	.active {
		right:100vw;
	}
	@media screen and (max-height: 450px) {
		li {
			padding:10px 25px;
			margin:10px;
			max-height: 50px;
		}
		li.twoline{
			padding:10px 25px;
		}
		hr{
		margin:4px 10px;
		}
		.mobile-nav-btns {
			top:45px;
		}
		#logo{
		width: 40%;
		margin:10px;
		}
	}
}

/* BOOTSTRAP CAROUSEL EDITS */
.carousel{
	display:block;
	height:auto;
	margin:75px auto;
	overflow: hidden;
}
.carousel-inner a{
	max-height:500px;
	width:auto;
}
.carousel img{
	width:100%;
	-webkit-filter:brightness(75%);
	filter:brightness(75%);
}
.carousel-indicators {
	bottom:0px;
	left:0px;
	right:0px;
	margin:0px auto 10px;
	border:0px;
}
.carousel-indicators li{
	height: 12px;
	width:	12px;
	margin:0px;
	padding:0px;
	border-radius: 50%;
}
.carousel-title{
	position:absolute;
	top:20px;
	color:white;
	font-size: 30px;
	font-weight: bold;
}
.carousel-title a {
	color:white;
}


.carousel-caption {
	position:absolute;
	bottom:0px;
	display:none;
	text-align: left;
	margin:0px auto 42px;
	padding:15px;
	text-shadow: none;
	background:rgba(0,103,172,.5);
}
.carousel p {
	margin:0px;
}
.carousel-caption a {
	color:white;
	font-weight: bold;
	transition:margin .2s;

}

.carousel-caption a:hover, .carousel-caption a:focus{
	color:#B9E0F7;
	background:none;
	cursor:pointer;
	margin-left: 10px;
}

.carousel-caption a::after {
	content: ' \00BB';
	color:white;
	margin-left: 0px;
	transition:.2s;
}

.carousel-caption a:hover::after {
	margin-left: 5px;
		color:#B9E0F7;

}

.carousel-title, .carousel-caption {
	left:10%;
	right:10%;
	padding:15px;
}

/*.carousel-caption a{
	display:table;
	background:rgba(0,103,172,.5);
	color:white;
	font-weight:bold;
	text-shadow: none;
	padding:10px;
}*/
@media screen and (min-width: 768px) {
.carousel-caption {
	display:inline;
	font-size:16px;

}
.carousel-title{
	font-size: 36px;
	}
}
